@import "~src/variables";
/**
  @author Karol Talbot
 */
.dialog_pane{
  width: available;
  padding: 1vh 5vw;
}

#buttons{
  padding-top: 5vh;
  padding-right:1%;
  width: 100%;
}

.manage_cancel_btn{
  position: relative;
  background-color: $cancel_btn;
  color:$cancel_btn_text;
  float:right;
  margin-right: 1%;
}

.manage_save_btn{
  background-color: $save_btn;
  color: $save_btn_text;
  float:right;
  margin-right: 1%;
}
