span {
  background-color: orange;
  color: white;
  grid-template-columns: 30%;
  display: inline-block;
  width: 100%;
}

a, div {
  color: white;
  padding: 16px;
  float: left;
}

div{
  font-weight: bolder;
  white-space: nowrap;
}
