<!--
@author Karol Talbot
@authro Jessica Moffatt
@version 2.0
-->

<cdk-virtual-scroll-viewport [itemSize]="10" class="sidebar">
  <h2>Team Members</h2>
  <div class="search_bar"><input #team_member_search id="team_member_search" [ngClass]="'input_search'"
                                 placeholder="search" (keyup)="0"></div>
    <mat-action-list *ngIf="teamMemberTimesheetService.teamMembers">
      <mat-button-toggle-group #btn_group="matButtonToggleGroup" [value]="" [name]="btn_group" class="btn_list" vertical>
        <mat-button-toggle id="{{t.id}}_btn" [value]="t.id" *ngFor="let t of (teamMemberTimesheetService.teamMembers)" (click)="displayTimesheet(t)">
          {{t.firstName}} {{t.lastName}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-action-list>
</cdk-virtual-scroll-viewport>

