<div class="main_container">
  <span class="circle">
    <i class="arrow left"></i>
  </span>
  <span class="week_title">Week of Jan 14, 2019</span>
  <span class="circle">
    <i class="arrow right"></i>
  </span>
  <!--This is a placeholder -->
  <button class="calendar"></button> <span id="submission_status">Not Submitted</span>

  <app-entry *ngFor="let entry of entries" [entry]="entry" (copyRequested)="copyEntry($event)" (deleteRequested)="deleteEntry($event)"></app-entry>
  <div #componentHolder ></div>
  <div (click)="addEntry()" class="add_entry btn">+</div>
</div>
<div class="tally_container">
  <span class="hours_tally">Hours:<strong> {{tally}}</strong></span><span class="submit btn bottom_btn">Submit</span><span class="save btn bottom_btn" (click)="save()">Save</span>
</div>
