/*
@author Jessica Moffatt
@version 1.0
 */

*{
  font-family: Arial, Helvetica, sans-serif;
  font-size:14pt;
  color:#3E3E3E;
}

.btn{
  color:#FFFFFF;
  border: 1px solid #3E3E3E;
  font-weight:bold;

  text-align:center;

  display:inline-block;

  /* make text unselectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.list_item{
  padding:5px;
  list-style-type:none;

  /* make text unselectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.list_item:hover{
  background-color:#EEF0F0;
}

.rounded_corners{
  border-radius:4px;
}

.btn_padding{
  padding: 2px 5px 2px 5px;
}

.save_btn{
  background-color: #009E0F;
  display:inline-block;
}

.delete_btn{
  background-color:#CC0000;
  display:inline-block;
}

.close_btn{
  background-color:#CC0000;
  width:15px;
  height:15px;
  float:right;
  position:relative;
  top:-1px;
  right:-1px;
}

.add_btn{
  background-color:#009E0F;
}

.cancel_btn{
  background-color:#CC0000;
  display:inline-block;
}

.cancel_changes_btn{
  background-color:#CC0000;
  width:20px;
  height:22px;
}

.inputs{
  width:20em;
}


.modal_container{
  border: 1px solid #3E3E3E;
  display:inline-block;
}

.modal_container h1{
  text-align:center;
}

.modal_btns_container{
  float:right;
}
