<!--
@author Iliya Kiritchkov
@version 1.0
-->

<form >
  <mat-form-field>
    <input matInput placeholder="First Name" [formControl]="firstNameControl" value="{{userAccount.firstName}}"
    [errorStateMatcher]="firstNameMatcher">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="firstNameControl.hasError('required') && !firstNameControl.hasError('pattern')">First name is <strong>required</strong></mat-error>
    <mat-error *ngIf="firstNameControl.hasError('pattern')">Please enter a valid name</mat-error>
  </mat-form-field>

</form>


<div [ngClass]="'edit_user_account_container'">
  <div [ngClass]="'user_account_wrapper'">
  <span>
    <label for="edit_user_account_first_name">First Name</label>
    <input #editUserFirstName id="edit_user_account_first_name" value="{{userAccount.firstName}}"
           placeholder="First Name" style="width:20em">
    <label for="edit_user_account_last_name">Last Name</label>
    <input #editUserLastName id="edit_user_account_last_name" value="{{userAccount.lastName}}"
           placeholder="Last Name" style="width:20em">
  </span>
    <span>
    <label for="edit_user_account_email">Email</label>
    <input #editUserEmail id="edit_user_account_email" value="{{userAccount.email}}" placeholder="jsmith@gmail.com"
           style="width: 20em">
  </span>
    <span>
    <label for="edit_user_account_salary">Rate</label>
    <input #editUserSalariedRate type="number" min="0" id="edit_user_account_salary"
           value="{{(userAccount.salariedRate/100).toFixed(2)}}" placeholder="0.00"
           style="width: 20em">
  </span>
    <span>
    <label for="edit_user_account_team">Team</label>

    <select id="edit_user_account_team" #editUserTeamId>
      <option *ngIf="userAccount.teamId === -1" value="-1" [selected]>None</option>
      <option *ngIf="userAccount.teamId !== -1" value="-1">None</option>
      <option *ngFor="let team of teamService.teamsObservable" [value]="team.id" [selected]="userAccount.teamId === team.id">{{team.teamName}}</option>
    </select>
  <span>
    <label for="edit_user_account_program_director{{userAccount.id}}">Program Director</label>
    <input #editUserProgramDirector id="edit_user_account_program_director{{userAccount.id}}" type="checkbox" [checked]="userAccount.programDirector">
  </span>
  <span>
    <label for="edit_user_account_admin{{userAccount.id}}">Admin</label>
    <input #editUserAdmin id="edit_user_account_admin{{userAccount.id}}" type="checkbox" [checked]="userAccount.admin">
  </span>
  </span>
    <span [ngClass]="['btn', 'edit_btn']" (click)="save()">SAVE</span>
    <span [ngClass]="['btn', 'delete_btn']" (click)="cancel()">CANCEL</span>
  </div>
</div>
