@import "~src/variables";
/**
  @author Karol Talbot
 */
.user_account_table{
  width: available;
}

#first_name{
  width: 48%;
  padding: 1%;
}

#last_name{
  width: 48%;
  padding: 1%;
}

#email{
  width: 98%;
  padding: 1%;
}

#team{
  width: 48%;
  padding: 1%;
}

#toggles{
  display: inline-block;
  width: 48%;
  padding: 1%;
  mat-slide-toggle{
    display: block;
  }
}

.manage_delete_btn{
  background-color: $delete_btn;
  color:$delete_btn_text;
}

.manage_cancel_btn{
  background-color: $cancel_btn;
  color:$cancel_btn_text;
  float:right;
  margin-right: 1%;
}

.manage_save_btn{
  background-color: $save_btn;
  color: $save_btn_text;
  float:right;
  margin-right: 1%;
}


