<cdk-virtual-scroll-viewport [itemSize]="10" class="sidebar">

  <h2>Projects</h2>
  <div class="search_bar"><input #project_search id="project_search" [ngClass]="'input_search'"
                                 placeholder="search" (keyup)="0"></div>
  <mat-action-list>
    <mat-button-toggle-group #btn_group="matButtonToggleGroup" [name]="buttonGroup" class="btn_list" vertical>
      <mat-button-toggle id="{{project.id}}_btn" class="list_btns" (click)='this.selectProject(project)'
                         *ngFor='let project of projectService.getProjectSubjectList().getValue() | FilterProjectByName:project_search.value '>{{project.projectName}}</mat-button-toggle>
    </mat-button-toggle-group>

  </mat-action-list>
</cdk-virtual-scroll-viewport>
