@import "~src/variables";

.floating_action_button {
  position: fixed;
  right: 4vw;
  bottom: 4vh;
  background-color: $blue;
  i {
    color: white;
  }
}

.team_edit_card{
  padding:2%;
  height: 60%;
  width: 60%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 25%;
  margin-top: 5%;
}

.manage_delete_btn{
  background-color: $delete_btn;
  color:$delete_btn_text;
}

.manage_cancel_btn{
  background-color: $cancel_btn;
  color:$cancel_btn_text;
  float:right;
  margin-right: 1%;
}

.manage_save_btn{
  background-color: $save_btn;
  color: $save_btn_text;
  float:right;
  margin-right: 1%;
}

.on_team{
  background-color: $orange;
  color:$white;
}

.title_line{
  padding-top: 1%;
  margin:0;
  display: inline-block;
  width:100%;
}

.title{
  display: inline-block;
  font-weight: bold;
  width:20%;
  padding-left: 1%;
  padding-right: 4%;
}

.mat-paginator{
  display: inline-block;
  width: 35%;
  padding-left: 4%;
  padding-right: 1%;
}

.search_bar_inline{
  display: inline-block !important;
  width: 35%;
  align-content: center;
  input{
    text-align: center;
    width: 96%;
    margin-left:2%;
    margin-right:2%;
    border: $dark_grey 1px solid;
    border-radius: 0.3em;
  }
}

#team{
  width: 48%;
  padding: 1% 1% 0;
}
#team_lead{
  width: 48%;
  padding: 1% 1% 0;
}

.chip_list{
  height: 4.5rem;
  width: 98%;
  margin:0.5%;
  padding:0.5%;
  border: $light_grey 1px solid;
  border-radius: 0.2rem;
}

.user_account{
  display: inline !important;
}

.no_users{
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: inline-block;
  color: $dark_grey;
  padding: 2%;
  margin:0;
  width: auto;
}
