<!--
@author Iliya Kiritchkov
@version 1.0
-->

<div [ngClass]="'view_user_account_container'">
  <div [ngClass]="'user_account_wrapper'">
    <li>
      <span [id]="'user_account_panel_name'"
            [ngClass]="['list_item', 'user_account_name']">{{userAccount.firstName}} {{userAccount.lastName}}</span>
      <span (click)="edit()" [ngClass]="['btn', 'edit_btn']">EDIT</span>
      <span (click)="delete()" [ngClass]="['btn', 'delete_btn']">DELETE</span>
    </li>
    <li>
      <span [ngClass]="['list_item']">Email {{userAccount.email}}</span>
    </li>
    <li>
      <span [ngClass]="['list_item']">Rate ${{(userAccount.salariedRate / 100).toFixed(2)}}/hr</span>
    </li>
    <li>
      <ng-container *ngIf="userAccount.teamId; then hasTeam else noTeam"></ng-container>
      <ng-template #hasTeam>
        <ng-container *ngFor="let team of teamService.teamsObservable">
          <span *ngIf="team.id === userAccount.teamId" [ngClass]="['list_item']">Team {{team.teamName}}</span>
        </ng-container>
      </ng-template>
      <ng-template #noTeam>
        <span [ngClass]="['list_item']">Team None</span>
      </ng-template>
    </li>
    <li>
      <span [ngClass]="['list_item']">Program Director - <span *ngIf="userAccount.programDirector">Yes</span>
        <span *ngIf="!userAccount.programDirector">No</span></span>
    </li>
    <li>
      <span [ngClass]="['list_item']">Admin - <span *ngIf="userAccount.admin">Yes</span>
        <span *ngIf="!userAccount.admin">No</span></span>
    </li>
  </div>
</div>
