<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-subtitle>Members on Project</mat-card-subtitle>
  </mat-card-header>
  <mat-selection-list role="list" #userAccounts>
    <mat-list-option *ngFor="let userAccount of this.projectService.userAccountList | async"
                     [value]="userAccount.id">
      <h5 matLine>{{userAccount.firstName}} {{userAccount.lastName}}</h5>
    </mat-list-option>
  </mat-selection-list>
  <div class="buttons">
    <button (click)="this.addMemberToProject()"
            class="manage_save_btn"
            mat-flat-button
            [disabled]="this.projectService.selectedProject == null">
      Add Members
    </button>
    <button (click)="deleteMembers(userAccounts)"
            mat-flat-button
            class="manage_delete_btn"
            [disabled]="userAccounts.selectedOptions.selected.length == 0">
      Remove Members
    </button>
  </div>
</mat-card>
