<mat-card>
  <mat-card-header>
    <mat-card-title>Members on Project</mat-card-title>
  </mat-card-header>
  <mat-list role="list">
    <mat-list-item *ngFor="let userAccount of this.projectService.userAccountList | async">

      <h4 matLine>{{userAccount.firstName}} {{userAccount.lastName}}</h4>
      <!--p matLine class="demo-2"> {{folder.updated}} </p-->
    </mat-list-item>
  </mat-list>

  <div style="display: flex; justify-content: flex-end">
    <button (click)="this.addMemberToProject()"
            mat-button
            color="primary"
            [disabled]="this.projectService.selectedProject == null"
            style="order: 1">
      ADD MEMBER TO PROJECT
    </button>
  </div>


</mat-card>
