@import "../../../../variables";
/**
  @author Karol Talbot
 */
.entry_card{
  margin: 1rem 10vw;
  padding: 1rem 2vw;
  width: 76vw;
  background-color: $white;
  color:$grey;
  label{
    color:$grey;
  }
}

:host::ng-deep .mat-form-field-underline, :host::ng-deep .mat-form-field-ripple {
  background-color: $grey !important;
  color: $grey !important
}

:host::ng-deep .mat-form-field-empty, :host::ng-deep .mat-form-field-label {
  color: $grey !important;
}

.row{
  display: inline;
  width: 74.48vw;
  padding: 0 0.76vw;
}

.top{
  display: inline-block;
  width: 55.86vw;
}

.third{
  display: inline-block;
  width: 16.758vw;
  padding-right: 2.793vw;
}

.third_last{
  display: inline-block;
  width: 30%;
}

.component{
  display: inline-block;
  width: 75%;
}

.quantity{
  float: right;
  display: inline-block;
  width: 20%;
  input{
    text-align: right;
  }
}

.day{
  width: 12%;
  margin-right: 1%;
  margin-left: 1%;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  input{
    text-align: right;
    width: 98%;
    padding: 1%;
  }
}

.weekday{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
  padding: 1%;
}

