/**
 * @author Karol Talbot
 */
@import "~src/variables";

.content_pane {
  height: 92vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;

  mat-divider {
    color: $light_grey;
  }
}

.search_bar {
  padding: 1.5vh 25vw;
  width: 50vw;
}

.input_search {
  width: inherit;
  height: 1.5rem;
}

#left {
  position: relative;
  width: 15vw;
  display: inline-flex;
  top: 0;
}

#center {
  width: 70vw;
  display: inline-block;
}

.floating_action_button {
  position: fixed;
  right: 4vw;
  bottom: 4vh;
  background-color: $blue;
  i {
    color: white;
  }
}

h2{
  text-align: center;
  color:$blue;
}
