/**
 * @author Iliya Kiritchkov
 */

#mainPanel{
  position: absolute;
  left: 220px;
  top: 70px;
  width: 100%;
  height: 100%;
}

.view_user_hidden{
  display: none;
}

.view_user_visible {
  display: block;
}

.edit_user_hidden {
  display: none;
}

.edit_user_visible {
  display: block;
}
