<!--
@author Iliya Kiritchkov
@version 1.0
-->
<div>
  <h2>Users</h2>
  <div [ngClass]="'user_account'">
    <ul>
      <ul *ngFor="let userAccount of userAccountService.userAccounts | async | orderBy:'lastName'"
          (click)="selectUserAccount(userAccount)"
          style="list-style: none">
        <ng-container>
          <app-view-user [userAccount]="userAccount" (deleteRequested)="delete($event)"
                         (editRequested)="editUserAccount($event)"></app-view-user>
          <app-edit-user [userAccount]="userAccount" (cancelRequested)="cancel($event)"
          (saveRequested)="save($event)"></app-edit-user>
        </ng-container>
      </ul>
    </ul>
  </div>
</div>
