/*
@author Jessica Moffatt
@version 1.1
 */

$orange: #EF7C22;
$blue: #3863AE;
$white: #FFFFFF;
$grey: #3E3E3E;
$light_grey: #EEF0F0;
$medium_grey: #AEACAB;
$dark_grey: #7A7A7A; /* (not as dark as grey)*/
$green: #009E0F;
$red: #CC0000;
$nav_highlight:#DE6B11;

$btn_md:2.5rem;
