/*
@author Jessica Moffatt
@version 1.1
 */

$orange: #ef7c22;
$blue_faded: #e6effe;
$blue: #3863AE;
$white: #FFFFFF;
$grey: #3E3E3E;
$light_grey: #EEF0F0;
$medium_grey: #AEACAB;
$dark_grey: #7A7A7A; /* (not as dark as grey)*/
$green: #009E0F;
$green_faded: #93ff9d;
$red: #CC0000;
$red_faded: #ff8d8d;
$nav_highlight:#DE6B11;

$btn_md_ht: 5vh;
$btn_md_wh: 3vw;


$footer_height: 2.5em;
$nav_height: 3.1em;
$delete_btn: #CC0000;
$delete_btn_text: #FFFFFF;
$save_btn: #3863AE;
$save_btn_text: #FFFFFF;
$cancel_btn: #7A7A7A;
$cancel_btn_text: #FFFFFF;

$arrow_color: #3E3E3E;
