/*
@author Jessica Moffatt
@version 2.0
 */

@import 'variables';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  font-family:Arial, Helvetica, sans-serif;
  color:$grey;
  font-size:14pt;
  padding-top:10vh;
  overflow-x: hidden;
}

html,body{
  height:100%;
  margin:0;
}

.btn{
  font-weight:bold !important;
  font-size:16pt !important;
}

.list_item{
  padding:5px;
  list-style-type:none;

  /* make text unselectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.list_item:hover{
  background-color:$light_grey;
}

.confirm_btn{
  background-color: $green;
}

.save_btn{
  background-color: $green;
  background-image: url('~src/assets/img/save.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.delete_btn{
  background-color:$red;
  background-image: url('~src/assets/img/remove.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.close_btn{
  background-color:$red;
  width:$btn_md;
  height:$btn_md;
  float:right;
}

.new_btn{
  background-color:$green;
}

.add_btn{
  background-color:$blue;
}

.edit_btn{
  //background-color: $purple;
}

.cancel_btn{
  background-color:$red;
}

.submit{
  background-color:$green;
  background-image: url('~src/assets/img/submit.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.cancel_changes_btn{
  background-color:$red;
  //background-image: url('~src/assets/img/x.png');
  width:20px;
  height:22px;
}


.entry{
  background-color:grey;
}

.rejected_entry{
  background-color: firebrick;
}

.approved_entry{
  background-color:dodgerblue;
}

.submitted_entry{
  background-color:orange;
}

/**Timesheet styles*/
.week_title{
  font-size:2rem;
}

.arrow{
  display:inline-block;
  position:relative;
  margin-left:1rem;
  margin-right:1rem;
  top:.5rem;

  width:$btn_md;
  height:$btn_md;
}

.arrow:hover{
  transition-delay: .05s;
  background-color:$light_grey;
}

.forward {
  background-image: url('~src/assets/img/arrow_forward.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.back {
  background-image: url('~src/assets/img/arrow_back.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.calendar{
  background-image: url('~src/assets/img/calendar.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;

  margin-left:15px;
  margin-right:15px;
}

#submission_status{
  color:$dark_grey;

  font-weight:bold;
}

.new_entry{
  width:$btn_md;
  height:$btn_md;
  margin:1rem;

  background-image: url('~src/assets/img/add.png');
  background-position: center;
  background-repeat: no-repeat;
}

/* Timesheet Footer Styles */
.timesheet_footer{
  background-color:$light_grey;
  height:$btn_md;
  position:relative;
  bottom: 0px;
  font-size: 1.5rem;
}

.hours_tally{

}

.save_timesheet{
  margin-right:15px;
}

.bottom_btn{
  padding:3px 5px 3px 5px;
  border-radius:4px;
  float:right;
}
.inputs{
  width:20em;
}

/**
*   @author: James Andrade
 */

.sidebar_list{
  list-style: none; //removes bullets
  padding-left: 0;
  color: black;
}

// for highlighting selected items, that are NOT sidebar
.highlighted{
  background-color: $blue;
}


/**
 * @author: Iliya Kiritchkov
 */

.user_account_name {
  font-weight: 700;
  color: $orange;
}

.user_account_wrapper {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.input_search {
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

.project_entries_footer {
  background-color: $light_grey;
  height: $btn_md;
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 1.5rem;
}

.manage_card{
  margin-left:200px;
}

.input_full_width{
  width: 100%;
}

.select_width_half{
  width:50%;
}

.select_width_quarter{
  width:25%;
}
