/*
@author Jessica Moffatt and Karol Talbot
@version 2.0
 */

@import 'variables';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  font-family:Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  color:$grey;
  font-size: 1rem;
  padding-top: 3.2em;
  overflow: hidden !important;
  margin:0;
}

.search_bar {
  input{
    text-align: center;
    width: 98%;
    margin-left:1%;
    margin-right:1%;
    border: $dark_grey 1px solid;
    border-radius: 0.3rem;
  }
  padding: 5%;
  width: 90%;
}

/** Snackbar styling */
.snackbar-success {
  background-color: $green;
}

.snackbar-fail {
  background-color: $red;
}
/** Snackbar Styling */
