/*
@author Jessica Moffatt
@version 2.0
 */

@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body{
  font-family:Arial, Helvetica, sans-serif;
  color:$white;
  font-size:14pt;
}

.btn{
  color:$white;
  font-weight:bold !important;
  font-size:16pt !important;
}

.list_item{
  padding:5px;
  list-style-type:none;

  /* make text unselectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.list_item:hover{
  background-color:$light_grey;
}

.confirm_btn{
  background-color: $green;
}

.save_btn{
  background-color: $green;
  background-image: url('~src/assets/img/save.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.delete_btn{
  background-color:$red;
  background-image: url('~src/assets/img/remove.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.close_btn{
  background-color:$red;
  width:$btn_md;
  height:$btn_md;
  float:right;
}

//TODO fix this so it's not hard coded...?
.close_btn_txt{
  font-size:25px !important;
  position:relative;
  top:-17px;
  left:-8px;
}

.new_btn{
  background-color:$green;
}

.add_btn{
  background-color:$blue;
}

.edit_btn{
  background-color: $purple;
}

.cancel_btn{
  background-color:$red;
}

.submit{
  background-color:$green;
  background-image: url('~src/assets/img/submit.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.cancel_changes_btn{
  background-color:$red;
  width:20px;
  height:22px;
}

.inputs{
  width:20em;
}

.user_account_name {
  font-weight: 700;
  color: $orange;
}

.user_account_wrapper {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.input_search {
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}
