/*
@author Jessica Moffatt
@version 2.0
 */

@import 'variables';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  font-family:Arial, Helvetica, sans-serif;
  color:$grey;
  font-size:14pt;
  padding-top: 10vh;
}

.btn{
  color:$white;
  font-weight:bold !important;
  font-size:16pt !important;
}

.list_item{
  padding:5px;
  list-style-type:none;

  /* make text unselectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.list_item:hover{
  background-color:$light_grey;
}

.confirm_btn{
  background-color: $green;
}

.save_btn{
  background-color: $green;
  background-image: url('~src/assets/img/save.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.delete_btn{
  background-color:$red;
  background-image: url('~src/assets/img/remove.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.close_btn{
  background-color:$red;
  width:$btn_md;
  height:$btn_md;
  float:right;
}

.new_btn{
  background-color:$green;
}

.add_btn{
  background-color:$blue;
}

.edit_btn{
  //background-color: $purple;
}

.cancel_btn{
  background-color:$red;
}

.submit{
  background-color:$green;
  background-image: url('~src/assets/img/submit.png');
  background-repeat: no-repeat;
  background-position: center;
  height:$btn_md;
  width:$btn_md;
}

.cancel_changes_btn{
  background-color:$red;
  //background-image: url('~src/assets/img/x.png');
  width:20px;
  height:22px;
}

.inputs{
  width:20em;
}

/**
*   @author: James Andrade
 */

.sidebar_list{
  list-style: none; //removes bullets
  padding-left: 0;
  color: black;
}

li.sidebar_list:hover{
  color: white;
}

// for highlighting selected items, that are NOT sidebar
.highlighted{
  background-color: $blue;
  color: white;
}


/**
 * @author: Iliya Kiritchkov
 */

.user_account_name {
  font-weight: 700;
  color: $orange;
}

.user_account_wrapper {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.input_search {
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
}

.main_container{
  padding-top:15%;
}

.manage_card{
  margin-left:200px;
}

.input_full_width{
  width: 100%;
}
