@import '~src/variables';

.report_card{
  width: 96%;
  padding: 2%;
  margin-bottom: 1%;
}

#progress{
  width: 100%;
  height: 1em;
}
.row{
  margin-top: 1%;
  display: block;
  width: 100%;
}

.first, .second{
  display: inline-block;
  width: 30%;
  margin-right: 5%;
}

.third{
  display: inline-block;
  width: 30%;
}

.value_name{
  display: inline-block;
  width: 60%;
}
.value_value{
  display: inline-block;
  text-align: right;
  width: 40%;
}

:host::ng-deep .mat-progress-bar-fill::after {
  background-color: $orange;
}
