<h1>Users</h1>
<div>
  <h2>View Users</h2>
  <input id="user_account_search" [ngClass]="'input_search'" placeholder="search" (keyup)="updateUserAccountSidebarList()">
  <div>
    <ul *ngIf="userAccountSidebarService.userAccounts" style="list-style: none" >
      <li *ngFor="let userAccount of (userAccountSidebarService.filteredUserAccounts|orderBy:'lastName')">
        <span *ngIf="userAccount" (click)="displayUserAccount(userAccount)">{{userAccount.firstName}} {{userAccount.lastName}}</span>
      </li>
    </ul>
  </div>
</div>
<div (click)="createAddUserAccountComponent()" [ngClass]="['new_btn', 'btn']">New User</div>
<template #add_user_account_container></template>
