<!--
  @author Iliya Kiritchkov
  @version 1.1
-->

<h1 mat-dialog-title>Add New User</h1>
<div mat-dialog-content>
  <form #addUserForm="ngForm">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput #addUserFirstName placeholder="First Name" [formControl]="userAccountFirstNameControl" [errorStateMatcher]="userAccountNameMatcher">
            <mat-error *ngIf="userAccountFirstNameControl.hasError('required') && !userAccountFirstNameControl.hasError('pattern')">First name is <strong>required</strong></mat-error>
            <mat-error *ngIf="userAccountFirstNameControl.hasError('pattern')">Please enter a valid name</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput #addUserLastName placeholder="Last Name" [formControl]="userAccountLastNameControl" [errorStateMatcher]="userAccountNameMatcher">
            <mat-error *ngIf="userAccountLastNameControl.hasError('required') && !userAccountLastNameControl.hasError('pattern')">Last name is <strong>required</strong></mat-error>
            <mat-error *ngIf="userAccountLastNameControl.hasError('pattern')">Please enter a valid name</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput #addUserEmail placeholder="Email" [formControl]="userAccountEmailControl" [errorStateMatcher]="userAccountEmailMatcher">
            <mat-error *ngIf="userAccountEmailControl.hasError('required') && !userAccountEmailControl.hasError('email')">Email is <strong>required</strong></mat-error>
            <mat-error *ngIf="userAccountEmailControl.hasError('email')">Please enter a valid email address</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput type="number" #addUserSalariedRate placeholder="Salaried Rate" [formControl]="userAccountRateControl" [errorStateMatcher]="userAccountRateMatcher">
            <mat-error *ngIf="userAccountRateControl.hasError('required') && !userAccountRateControl.hasError('min') && !userAccountRateControl.hasError('pattern')">Salaried rate is <strong>required</strong></mat-error>
            <mat-error *ngIf="userAccountRateControl.hasError('min') && !userAccountRateControl.hasError('pattern')">Please enter at least 0.00</mat-error>
            <mat-error *ngIf="userAccountRateControl.hasError('pattern')">Please enter a valid rate</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-select #addUserTeamId placeholder="Team">
              <mat-option [value]="-1">None</mat-option>
              <mat-option *ngFor="let team of teamService.teamsObservable" [value]="team.id">{{team.teamName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox #addUserAdmin>
            Admin
          </mat-checkbox>
        </td>
        <td>
          <mat-checkbox #addUserProgramDirector>
            Program Director
          </mat-checkbox>
        </td>
      </tr>
    </table>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="addUserAccount()">Add</button>
      <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
    </div>
  </form>
</div>
