<!--
  @author Karol Talbot
  @version 2.0
-->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div id=content>
  <mat-card class="body_card">
    <mat-card-title><img src="../../../../assets/img/projectTOMiLogoOrange.svg" alt="TOMi"></mat-card-title>
    <mat-card-subtitle><span>T</span>ime <span>O</span>ptimization and <span>M</span>anagement <span>I</span>nitiative</mat-card-subtitle>
    <mat-card-content>
      <ng-template [ngIf]="this.isLarge()">
        <!--<div id="quote">They don't think it be like it is but it do.</div>-->
        <!--<div id="man">-Oscar Gamble</div>-->
        <p id="message">To continue please sign in using Google</p>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-grid-list [cols]="3" class="sign_in_btn" rowHeight="20em">
    <mat-grid-tile [colspan]="3" class="g-signin2" data-longtitle="false" data-theme="dark"
                   data-onsuccess="onSignIn"></mat-grid-tile>
  </mat-grid-list>
</div>
<div id="background">
  <div id="overlay"></div>
</div>
