<!--
  @author Karol Talbot
  @version 2.0
-->
<div class="content_pane">
  <h2>Manage Tasks</h2>

  <div class="search_bar">
    <input #task_search id="task_search" [ngClass]="'input_search'" placeholder="search" (keyup)="0">
  </div>

  <div class="accordion">
    <div id="left">&nbsp;</div>
    <div id="center">
      <mat-accordion>
        <ng-container *ngFor="let task of taskService.getTaskSubjectList().getValue() | FilterUnitTypeByName:task_search.value ">
          <app-edit-task id="edit_task{{task.id}}" #editTaskComponent
                         (saveRequested)="save($event)"
                         (deleteRequested)="delete($event)"
                         [task]="task"
          ></app-edit-task>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-accordion>
    </div>
  </div><!-- .accordion -->

  <button class=" floating_action_button" mat-fab (click)="openDialog()">
    <i class="material-icons">
      add
    </i>
  </button>
</div>

