/*
@author James Andrade
@version 1.0
 */

.add_task{
  background-color:#3863AE;
}

#sidebar {
  width: 20%;
  height: 100%;
  position: absolute;
  background-color: orange;
}

#mainPanel{
  position: absolute;
  left: 20%;
  width: 80%;
  height: 100%;
}

table,th,td {
  alignment: left;
  border: solid 1px black;
}

#team_name{
  font-size:150%;
}

.add_member_btn{
  background-color:#3863AE;
}

.remove_member_btn{
  background-color:#CC0000;
}
