/*
 * @author Karol Talbot
 * @version 2.0
 */

@import '../../../../variables';

.content_pane {
  height: 92vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  mat-divider{
    color:$light_grey;
  }
}

.search_bar {
  padding: 1.5vh 25vw;
  width: 50vw;
}

.input_search {
  width: inherit;
  height: 1.5rem;
}

#left {
  position: relative;
  width: 15vw;
  display: inline-flex;
  top: 0;
}

#center {
  width: 70vw;
  display: inline-block;
}

.floating_action_button {
  position: fixed;
  right: 4vw;
  bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $blue;
  div {
    display: block;
    height:4rem;
    i {
      padding-top:0.5rem;
      padding-bottom:0.5rem;
      font-size: 3rem;
      color: white;
    }
  }
}
