<!--
@author Jessica Moffatt
@version 1.0
-->
<div [ngClass]="'modal_container'">
  <div [ngClass]="['btn','btn_padding','close_btn']" (click)="destroyAddMemberComponent()">X</div>
  <h1>Add Member To Team</h1>
  <table>
    <tr>
      <td>
        <label>New Member
          <select id="selected_member">
            <option id="team_member_toadd" *ngFor="let member of (this.teamService.allMembers |orderBy: 'id')"
                    [value]="member.id">
              {{member.firstName}} {{member.lastName}}
            </option>
          </select>
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div [ngClass]="'modal_btns_container'">
          <div [ngClass]="['btn','add_btn','rounded_corners','btn_padding']" (click)="addMember()">Add</div>
          <div [ngClass]="['btn','cancel_btn','rounded_corners','btn_padding']" (click)="destroyAddMemberComponent()">
            Cancel
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
