<body>
<div class="entry_container">
  <div>
      <input [(ngModel)]="entry.projectName" placeholder="Project Name" style="width:20em">
        <span *ngIf="entry.hours">
          <span *ngFor="let hour of entry.hours; let i = index">
            <label><strong>{{days[i]}}</strong>
            <input class="small_number_input" [(ngModel)]="hour" placeholder="0" type="number" step=".25">
            </label>
          </span>
        </span>
    <span class="delete btn round" (click)="delete()">X</span>
  </div>
  <div>
    <span *ngIf="entry">
    <input [(ngModel)]="entry.task" placeholder="Task">
    <input [(ngModel)]="entry.unitType" placeholder="Unit Type">
    <input [(ngModel)]="entry.component" placeholder="Component" style="width:20em">
      <!-- TODO replace Units with ACTUAl units, depending on the Unit Type-->
    <label><input [ngModel]="entry.quantity" placeholder="Quantity" class="small_number_input"><strong>Units</strong></label>
   </span>
    <span class="copy btn" (click)="copy()">C</span>
  </div>
</div>
</body>
