/*
@author Jessica Moffatt and Karol Talbot
@version 2.0
 */
@import '../../../../variables';


.timesheet_footer {
  background-color: $orange;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: $footer_height;
  vertical-align: middle;
  z-index: 2;
  box-shadow: 0 0 1vh black;
}

.timesheet_content {
  height: 100vh;
}

.scroll_panel {
  height: 84vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer_btn {
  bottom: 0;
  height: $footer_height;
  width: $btn_md_wh;
  margin: 0.5vh 0.5vw;
  vertical-align: middle;
}

.hours_tally {
  vertical-align: middle;
  float: right;
  font-size: 1.5rem;
  margin: 0.5vh 0.5vw;
  color: #FFFFFF;
}


.add_btn, .save_btn {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: $save_btn;

  div {
    display: block;
    height: 3rem;

    i {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 2rem;
      color: white;
    }
  }
}

.submit_btn {
  float: right;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: $save_btn;

  div {
    display: block;
    height: 3rem;

    i {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 2rem;
      color: white;
    }
  }
}

.arrow {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: none;

  div {
    display: inline-block;
    height: 4rem;
    text-align: center;

    i {
      font-size: 4rem;
      color: $arrow_color;
    }
  }
}

.arrow:hover {
  transition-delay: .05s;
  background-color: $light_grey;
}

.week_title {
  flex-grow: 2;
  position: relative;
  height: 5vh;
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: none;
  div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h4 {
      padding-top:1.4em;
      font-size: 2em;
      color: $arrow_color;
    }
  }
}

.navigation {
  width: 100vw;
  display: inline-flex;
  flex-direction: row;
}

.submission_status{
  display: inline-flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#status{
  padding: 0.4em;
  border-radius: 0.5vw;
}

.hidden_btn{
  background: none;
  div{
    i{
      color: $orange;
    }
  }
  color: $orange;
}
