<!--
@author Jessica Moffatt
@version 2.0
-->
<div class="timesheet_content">
  <div class="scroll_panel">
  <span [ngClass]="['arrow', 'back']" (click)="displayPrevTimesheet()">
  </span>
    <span [ngClass]="'week_title'">Week of {{timesheetService.currentDate}}</span>
    <span [ngClass]="['arrow', 'forward']" (click)="displayNextTimesheet()">
  </span>
    <app-date-picker [parent]="this" [minDate]="timesheetService.minDate"></app-date-picker>

    <span id="submission_status">{{timesheetService.currentStatus}}</span>

    <div>
      <div *ngFor="let entry of entries">
        <app-entry [ngClass]="'entry'" *ngIf="getStatusValue(entry.status.toString()) === sts.LOGGING" [entry]="entry"
                   [projects]="projects" [unitTypes]="unitTypes" [tasks]="tasks"
                   (requestCopy)="copyEntry($event)"
                   (showDeleteModal)="displayDeleteEntryModal($event)"></app-entry>
        <app-entry [ngClass]="'rejected_entry'" *ngIf="getStatusValue(entry.status.toString()) === sts.REJECTED"
                   [entry]="entry" [projects]="projects" [unitTypes]="unitTypes" [tasks]="tasks"
                   (requestCopy)="copyEntry($event)"
                   (showDeleteModal)="displayDeleteEntryModal($event)"></app-entry>
        <app-entry-uneditable [ngClass]="'submitted_entry'"
                              *ngIf="getStatusValue(entry.status.toString()) === sts.SUBMITTED"
                              [entry]="entry"></app-entry-uneditable>
        <app-entry-uneditable [ngClass]="'approved_entry'"
                              *ngIf="getStatusValue(entry.status.toString()) === sts.APPROVED"
                              [entry]="entry"></app-entry-uneditable>
      </div>

    </div>

    <div #entryHolder></div>
  </div>
</div>
<div [ngClass]="'timesheet_footer'">
  <button mat-flat-button (click)="addEntry()" [ngClass]="['new_entry', 'new_btn', 'footer_btn']"></button>
  <button mat-flat-button [ngClass]="['submit', 'footer_btn']" (click)="displaySubmitModal()"></button>
  <span [ngClass]="'hours_tally'">Hours:<strong> {{tally}}</strong></span>
  <button mat-flat-button [ngClass]="['save_timesheet', 'save_btn', 'footer_btn']" (click)="save().then()"></button>
</div>

