<!--
@author Jessica Moffatt
@version 2.0
-->
<div *ngIf="teamSideBarService.selectedTeam" [ngClass]="'main_container'">
  <mat-card [ngClass]="'manage_card'">
    <mat-card-actions>
      <button mat-flat-button class="manage_save_btn" (click)="save(teamSideBarService.selectedTeam)">
        Save
      </button>
      <button mat-flat-button class="manage_cancel_btn" (click)="cancel(teamSideBarService.selectedTeam)">
        Cancel
      </button>
      <button mat-flat-button class="manage_delete_btn" (click)="delete(teamSideBarService.selectedTeam)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>


