<!--
@author Jessica Moffatt
@version 1.0
-->
<div *ngIf="teamSideBarService.selectedTeam" [ngClass]="'team_container'">
  <div>
    <div [ngClass]="'row'">
    <input id="team_name" placeholder="Team Name" value={{teamSideBarService.selectedTeam?.teamName}}
           style="width:20em">
    <span [ngClass]="['btn','save_btn']"
          (click)="save(teamSideBarService.selectedTeam)">Save</span>
    <span [ngClass]="['btn','cancel_changes_btn']"
          (click)="cancel(teamSideBarService.selectedTeam)">O</span>
    <span [ngClass]="['btn','delete_btn']"
          (click)="delete(teamSideBarService.selectedTeam)">Archive</span>
    </div>

    <div>
      <label>Team Lead
        <select id="selected_team_lead">
          <option value="-1">None</option>
          <option *ngFor="let member of (this.teamService.teamMembers |orderBy: 'firstName')" [value]="member.id"
                  [attr.selected]="member.id === teamSideBarService.selectedTeam?.leadId ? 'selected' : null">
            {{member.firstName}} {{member.lastName}}
          </option>
        </select>
      </label>
    </div>

  </div>
  <h2>Team Members</h2>
  <div [ngClass]="'team_members'">
    <ul *ngIf="teamService.teamMembers">
      <li *ngFor="let m of teamService.teamMembers | orderBy:'firstName'">
        <span [ngClass]="['list_item']" (click)="selectMember(m)"
              *ngIf="m">{{m.firstName}} {{m.lastName}}</span>
      </li>
    </ul>
  </div>

  <div [ngClass]="['btn','add_btn']" (click)="createAddMemberComponent()">Add
    Member
  </div>
  <div [ngClass]="['btn','delete_btn']" (click)="removeMember()">Remove Member
  </div>

  <template #add_team_member_container></template>
</div>


