
.small_number_input{
  width:3.5em;
}

.entry_container{
  border: 1px solid #7A7A7A;
  border-radius: 4px;
  display:inline-block;
}

.delete{
  background-color:#CC0000;
  float:right;
}

.copy{
  background-color:#3863AE;
  float:right;
}

input{
  margin:5px;
  font-size:12pt;
}
