<body>
<div class="entry_container">
  <div>
      <input [(ngModel)]="entry.projectName" placeholder="Project Name">
      <label *ngFor="let day of days">{{day}}
        <span *ngIf="entry.hours">
        <input class="small_number_input" *ngFor="let hour of entry.hours|slice:0:1"
                                                     [(ngModel)]="hour" placeholder="0" type="number" step=".25" ng-click="">
        </span>
        <span *ngIf="!entry.hours">
          <input class="small_number_input" ng-repeat="(key, value) in [1,1,1,1,1,1,1]"
                 [(ngModel)]="hour" placeholder="0" type="number" step=".25" ng-click="">
        </span>
      </label>
    <button (click)="delete()">X</button>
  </div>
  <div>
    <span *ngIf="entry">
    <input [(ngModel)]="entry.task" placeholder="Task">
    <input [(ngModel)]="entry.unitType" placeholder="Unit Type">
    <input [(ngModel)]="entry.component" placeholder="Component">
    <label><input [ngModel]="entry.quantity" placeholder="Quantity" class="small_number_input">Units</label>
   </span>
    <button (click)="copy()">[COPY]</button>
  </div>
  <button (click)="save()">[SAVE]</button>
</div>
</body>
