<!--
@author Jessica Moffatt
@version 1.0
-->
<div *ngIf="teamMemberTimesheetService.selectedMember" class="timesheet_content">
  <div class="scroll-pane">
    <h2 [ngClass]="'row'">
      {{teamMemberTimesheetService.selectedMember.firstName}} {{teamMemberTimesheetService.selectedMember.lastName}}
    </h2>

    <div>
      <div class="navigation">
        <button mat-flat-button [ngClass]="['arrow']" (click)="teamMemberTimesheetService.displayPrevTimesheet()">
          <i class="material-icons">
            navigate_before
          </i>
        </button>
        <div [ngClass]="'week_title'">
          <h4>Week of {{timesheetService.currentDate}}</h4>
        </div>
        <app-date-picker [parent]="this" [minDate]="timesheetService.minDate"></app-date-picker>
        <mat-chip-trailing-icon disabled [ngClass]="['submission_status']">
          <mat-chip [disableRipple]="true" id="status">{{timesheetService.currentStatus}}</mat-chip>
        </mat-chip-trailing-icon>
        <button mat-flat-button [ngClass]="['arrow']" (click)="teamMemberTimesheetService.displayNextTimesheet()">
          <i class="material-icons">
            navigate_next
          </i>
        </button>
      </div>
      <div *ngFor="let entry of this.teamMemberTimesheetService.entries">
        <app-entry-uneditable [ngClass]="'entry'"
                              [entry]="entry"></app-entry-uneditable>
      </div>
    </div>
  </div>
  <div [ngClass]="'timesheet_footer'">
    <span [ngClass]="'hours_tally'">Hours:<strong> {{teamMemberTimesheetService.tally}}</strong></span>
  </div>
</div>
