@import "../../../../variables";

.table {
  width: available;
}

#task {
  width: 100%;
  padding-left: 1%;
}

#billable {
  padding-left: 1%;
  padding-bottom: 1em;
}


#toggles {
  display: inline-block;
  width: 48%;
  padding: 1%;

  mat-slide-toggle {
    display: block;
  }
}

.manage_delete_btn {
  background-color: $delete_btn;
  color: $delete_btn_text;
}

.manage_cancel_btn {
  background-color: $cancel_btn;
  color: $cancel_btn_text;
  float: right;
  margin-right: 1%;
}

.manage_save_btn {
  background-color: $save_btn;
  color: $save_btn_text;
  float: right;
  margin-right: 1%;
}


