<!--
  @author James
  @version 1.0
-->
<div mat-dialog-title>
  <h2>
    Add Member to Project
  </h2>
</div>
<div mat-dialog-content>
  <form>

    <mat-form-field class="input_selector">
      <mat-select id="new_project_member"
                  placeholder="New Project Member"
                  aria-label="New Project Member"
                  [(ngModel)]="selectedUserId"
                  name="user">
        <mat-option *ngFor="let u of this.availUsersList | async"
                    [value]="u.id">
          {{u.firstName}} {{u.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="action_buttons" align="end">
  <button mat-raised-button class="manage_save_btn"
          [disabled]="selectedUserId == undefined"
          (click)="addUserAccount()">Add
  </button>
  <button mat-raised-button (click)="cancel()" class="manage_cancel_btn">Cancel</button>
</div>
