#header{
    background-color: #ef7c22;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 11vh;
    border-bottom: #de6c11 solid 1px;
}

#header img{
    height: 11vh;
    width: auto;
}

.middle{
    position:fixed;
    left: 20vw;
    width: 80vw;
    height: 89vh;
    top: 11vh;
    background-color: #ffffff;
    color: #3E3E3E;
    font-family: Arial, sans-serif;
}

.middleBig{
    position:fixed;
    left: 3vw;
    width: 97vw;
    height: 89vh;
    top: 11vh;
    background-color: #ffffff;
    color: #3E3E3E;
    font-family: Arial, sans-serif;

}

.middle p, .middle div{
    padding-bottom: 1.5rem;
}

.middleBig p, .middleBig div{
    padding-bottom: 1.5rem;
}

.menu
{
    position:fixed;
    top:11vh;
    left:0;
    display:block;
    background-color: #ef7c22;
    color: #3E3E3E;
    width:20vw;
    height:89vh;
    margin:0;
    padding:0;
}

.menu ul
{
    list-style:none;
    display:block;
    width:100%;
    margin:0;
    padding:0;
}

.menu button
{
    text-align:center;
    text-decoration:none;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #ef7c22;
    display:block;
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    border: none;
}
.menu input{
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 2.5vw;
    width: 13vw;
    margin-right: 2.5vw;
    border: none;
    border-radius: 10vh;
    background-color: #ffffff;
}
.menu i{
    color: #ffffff;
    position:absolute;
    right: 1vw;
    top: 3vh;
}
.menu img
{
    padding:10%;
    width:80%;
    height:auto;
}

.menu button:hover
{
    background-color: #de6c11;
    color: #ffffff;
}

#bottomButton{
    position: absolute;
    background-color: #3863AE;
    bottom: 0;
    width: 20vw;
    height: 7vh;
}
#bottomButton button{
    background-color: #3863AE;
    color: #ffffff;
}

#bottomButton button:hover{
    background-color: #27529d;
    color: #ffffff;
}

.menu2{
    position:fixed;
    top:11vh;
    left:0;
    display:block;
    background-color: #ef7c22;
    height:89vh;
    margin:0;
    padding:0;
    width:3vw;
}

.menu2 i{
    color: #ffffff;
    position:absolute;
    right: 1vw;
    top: 3vh;
}

.hidden{
    display: none;
}

.scrollList{
    margin-top: 1vh;
    height: 75vh;
    overflow-y: scroll;
}

#contentPane{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    position: absolute;
    top:0;
    left:0;
}
#teamPane{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    position: absolute;
    top:0;
    right: 25vw;
}

h2{
    font-family: "Trebuchet MS", sans-serif;
    padding-bottom: 2rem;
}

h1{
    font-family: "Trebuchet MS", sans-serif;
    padding-bottom: 3rem;
}

h3{
    font-family: "Trebuchet MS", sans-serif;
    padding-bottom: 1rem;
}