<!--
@author Jessica Moffatt
@version 1.0
-->
<div [ngClass]="'container'">
  <ng-template [ngIf]="this.selectedProject != null && this.selectedProject != undefined">
    <div>
      <h2>
        {{selectedProject.projectName}}
      </h2>
        <div *ngFor="let entry of projectEntries | async">
          <app-entry-approve [ngClass]="'entry'"
                             [entry]="entry"></app-entry-approve>
        </div>
    </div>
  </ng-template>
  <div [ngClass]="'project_entries_footer'">
    <button mat-fab class="floating_action_button" (click)="displaySubmitModal()">
      <i class="material-icons">
        send
      </i>
    </button>
  </div>
</div>
