<!-- James Andrade, Jan 27,2019 -->

<mat-sidenav-container>
  <mat-sidenav mode="side"
               opened>
    <!--div id="sidebar"-->
    Projects
    <br/>
    <!--the keyup function below is used to trigger an update-->
    <input #box (keyup)="0" id="search_value" type="text" placeholder="Search"/>
    <br/>

    <button (click)="viewProductivityReport()" mat-raised-button color="primary">
      VIEW PRODUCTIVITY REPORT
    </button>
    <br/>

    Active Projects
    <br/>

    <mat-list dense>
      <!--orderBy:'projectName'"-->
      <!--  [class.highlighted]="p.id === this.projectService.selected.id" -->
      <!--"-->
      <mat-list-item
        *ngFor="let p of this.projectService.projects|async|orderBy:'projectName'"
        (click)="this.projectService.setSelected(p)">

        <span *ngIf="p.projectName.toLowerCase().includes(box.value.toLowerCase())">
          {{p.active}} {{p.projectName}}
        </span>

      </mat-list-item>
    </mat-list>

    <button (click)="displayBlankProject()" mat-raised-button color="primary">NEW PROJECT</button>
  </mat-sidenav>

  <!--mat-sidenav-content>
    <template #edit_project_container></template>
    <template #display_project_container></template>
    <div *ngIf="this.subPanelDisplay=='newProject'">
      <app-edit-project-sub-panel></app-edit-project-sub-panel>
    </div>
  </mat-sidenav-content-->
</mat-sidenav-container>


<!--app-budget-report [project]="project"></app-budget-report>
<button mat-input-button (click)="getDataDump()">Data Dump Report</button-->
