@import "~src/variables";

/**
  @author Karol Talbot
  @version 2.0
 */
.floating_action_button {
  position: fixed;
  right: 4vw;
  bottom: 4vh;
  background-color: $blue;

  i {
    color: white;
  }
}
