@import "../../../../variables";

/**
  @author Karol Talbot
 */
.entry_card {
  margin: 1% 10%;
  padding: 1% 2%;
  width: 70%;
  background-color: $white;
  color: $dark_grey;

  label {
    padding-bottom: 0.1em;
  }
}

:host::ng-deep .mat-form-field-underline, :host::ng-deep .mat-form-field-ripple {
  background-color: $dark_grey !important;
  color: $dark_grey !important
}

//:host::ng-deep .mat-form-field-empty, :host::ng-deep .mat-form-field-label {
//  color: $grey !important;
//}

.row {
  display: inline;
  width: 98%;
  padding: 2%;
}

.top {
  display: inline-block;
  width: 75%;
}

.third {
  display: inline-block;
  width: 30%;
  padding-right: 3%;
}

.third_last {
  display: inline-block;
  width: 30%;
}

.component {
  display: inline-block;
  width: 75%;
}

.quantity {
  float: right;
  display: inline-block;
  width: 20%;

  input {
    text-align: center;
  }
}

.day {
  width: 12%;
  margin-right: 1%;
  margin-left: 1%;
  display: inline-flex;
  flex-direction: column;
  text-align: center;

  input {
    text-align: center;
    width: 98%;
    padding: 1%;
  }
}

.weekday {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
  padding: 1%;
}


.approved {
  background-color: $green_faded;

}

.rejected {
  background-color: $red_faded;
}

.entry_btn {
  color: $white;
  margin: 0.1vw;
  width: 2rem;
  height: 2rem;
  float: top
}

.delete_btn {
  float: right;
  background-color: $white;
  color: $red;
}

.delete_btn_inverted{
  float:right;
  background-color: $red;
  color: $white;
}

.copy_btn_inverted{
  float:right;
  background-color: $blue;
  color: $white;
}
.copy_btn {
  float: right;
  background-color: $white;
  color: $blue;
}

.entry_btn_container {
  float: right;
  width: 20%;
}
