<!--
  @author James
  @version 1.0
-->

<h2 mat-dialog-title>Edit Project Expense</h2>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <input matInput
             #addExpenseNote
             placeholder="Note"
             [value]="this.expenseService.selectedExpense.notes"
             [formControl]=""
             [errorStateMatcher]="">
      <mat-error *ngIf="expenseNoteControl.hasError('required')">Note is <strong>required</strong></mat-error>
    </mat-form-field>
  <br/>
    <mat-form-field id ="">
      <input matInput
             #addExpenseAmount
             placeholder="Amount"
             min="0.00"
             step="0.01"
             [value]="this.expenseService.selectedExpense.amount.toFixed(2)"
             [formControl]=""
             [errorStateMatcher]="">
      <mat-error *ngIf="expenseAmountControl.hasError('required')">Unit is <strong>required</strong></mat-error>
      <mat-error *ngIf="expenseAmountControl.hasError('pattern')">Must be a dollar amount</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button
          class="manage_save_btn"
          (click)="save()">
    Save
  </button>
  <button mat-raised-button
          class="manage_cancel_btn"
          (click)="cancel()">
    Cancel
  </button>
</div>
