<!--
  @author Karol Talbot
  @version 1.1
-->

<h1 mat-dialog-title>Add New Task</h1>
<div mat-dialog-content class="dialog_pane">
  <form #addTaskForm="ngForm">
    <mat-form-field id="task">
      <input matInput #addTaskName placeholder="Name" [formControl]="taskNameControl">
    </mat-form-field>
    <mat-slide-toggle color="warn" #addTaskBillable>
      Billable
    </mat-slide-toggle>
  </form>
</div>
<div id="buttons" mat-dialog-actions align="end">
  <button mat-raised-button class="manage_save_btn" (click)="addTask()">Add</button>
  <button mat-raised-button class="manage_cancel_btn" (click)="onNoClick()">Cancel</button>
</div>
