<!--
  @author Karol Talbot
  @version 1.1
-->
<h2 mat-dialog-title>Add New Task</h2>
<div mat-dialog-content>
  <form #addTaskForm="ngForm">
    <mat-form-field id="task">
      <input matInput #addTaskName placeholder="Name" [formControl]="taskNameControl">
    </mat-form-field>
    <mat-slide-toggle color="warn" #addTaskBillable id="toggles">
      Billable
    </mat-slide-toggle>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button class="manage_save_btn" (click)="addTask()">Add</button>
  <button mat-raised-button class="manage_cancel_btn" (click)="onNoClick()">Cancel</button>
</div>
