@import "../../../../variables";
.dialog_pane{
  width: available;
  padding: 1vh 5vw;
}

#toggles{
  display: inline-block;
  width: 48%;
  padding: 1%;
  mat-slide-toggle{
    display: block;
  }
}

#buttons{
  padding-top: 5vh;
  padding-right:1%;
  width: 100%;
}

.manage_cancel_btn{
  position: relative;
  background-color: $cancel_btn;
  color:$cancel_btn_text;
  float:right;
  margin-right: 1%;
}

.manage_save_btn{
  background-color: $save_btn;
  color: $save_btn_text;
  float:right;
  margin-right: 1%;
}

#user_role{
  width: 100%;
}
