@import '../../../../variables';

span {
  background-color: $orange;
  color: $white;
  position: absolute;
  // grid-template-columns: 30%;
  //display: inline-block;
  height: 56px;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 0 8px black;
  z-index: 2;
}

img {
  position: absolute;
  top: 20px;
  left: 16px;
}

a{
  position: relative;
  left: 200px;
  color: $white;
  padding: 16px;
  float: left;
}

.logout{
  position: absolute;
  top: 0vh;
  left: 94vw;
}

