@import '../../../../variables';


mat-toolbar {
  background-color: $orange;
  color: $white;
  position: fixed;
  height: 3.1em;
  left: 0;
  top: 0;
  padding-left: 10vw;
  width: 100%;
  box-shadow: 0 0 1vh black;
  z-index: 2;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  img{
    position:absolute;
    top:3.25vh;
    left:3.25vh;
    padding:0;

  }
}


.link{
  width: 10vw !important;
  height: 3.1em;
  text-decoration: none;
  font-size: 1rem;
  color: #FFFFFF;
  text-align:center;
  background: $orange;
}

.link:hover{
  background-color: $nav_highlight;
}

.menu{
  color: $orange;
}
#icon, #menuButtonImage, #menuButtonImageMed{
  position: inherit;
  border: none;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 2.5rem;
  margin: 0;
}

#menuButton, #menuButtonSmall, #menuButtonMed{
  position: absolute;
  right: 0.35em;
  top: 0.35em;
  background: none;
  border: none;
  height: 2.4rem;
  width: 2.4rem;
  font-size: 1rem;
  color: #FFFFFF;
  z-index: 2;
  box-shadow: none;
}

#userName:hover{
  background: $nav_highlight;
  background-blend-mode: screen;
}

#logo{
  position:fixed;
  top:0;
  left:0;
  height: 3.1em;
  width: auto;
}
