@import '../../../../variables';

span {
  background-color: $orange;
  color: $white;
  position: absolute;
  height: 9vh;
  left: 0;
  top: 0;
  padding-left: 10vw;
  width: 90vw;
  box-shadow: 0 0 1vh black;
  z-index: 2;
}

img {
  position: absolute;
  top: 3vh;
  left: 2vw;
}

a{
  position: relative;
  width: 8vw !important;
  text-align: center;
  padding: 1vw;
  color: $white;
  float: left;
}

