<mat-toolbar>
  <img src="../../../../assets/tomiLogo.png"/>
  <ng-template [ngIf]="isUserLoggedIn">
      <a class="link" [routerLink]="'/timesheets'">Timesheets</a>
      <a class="link" [routerLink]="'/approveTimesheets'">Approve</a>
      <a class="link" [routerLink]="'/teams'">Team</a>
      <a class="link" [routerLink]="'/projects'">Projects</a>
      <a class="link" [routerLink]="'/manageTeams'">Manage Teams</a>
      <a class="link" [routerLink]="'/mangeUnitTypes'">Unit Types</a>
      <a class="link" [routerLink]="'/manageTasks'">Tasks</a>
      <a class="link" [routerLink]="'/manageUserAccount'">Users</a>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item id="menu" (click)="signInService.signOut()">Logout</button>
    </mat-menu>
    <button id="userName" mat-icon-button [matMenuTriggerFor]="appMenu">
      <span id="iconDiv">
        <img id="icon" [src]="signInService.getIcon()"/>
      </span>
    </button>
  </ng-template>
</mat-toolbar>
