@import '../../../../variables';


mat-toolbar {
  background-color: $orange;
  color: $white;
  position: fixed;
  height: 9vh;
  left: 0;
  top: 0;
  padding-left: 10vw;
  width: 100%;
  box-shadow: 0 0 1vh black;
  z-index: 2;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  img{
    position:absolute;
    top:3.25vh;
    left:3.25vh;
    padding:0;

  }
}


.link{
  width: 8vw !important;
  padding: 1vw;
  text-decoration: none;
  font-size: 1rem;
  color: #FFFFFF;
  text-align:center;
}

.link:hover{
  background-color: $nav_highlight;
}

.menu{
  color: $orange;
}
#icon, #menuButtonImage, #menuButtonImageMed{
  position: inherit;
  height: 7vh;
  width: 7vh;
  border-radius: 7vh;
  margin: 0;
}

#menuButton, #menuButtonSmall, #menuButtonMed{
  position: absolute;
  right: 1vh;
  top: 1vh;
  background: none;
  border: none;
  height: 7vh;
  width: 7vh;
  font-size: 1rem;
  color: #FFFFFF;
  z-index: 3;
}

#userName:hover{
  background: $nav_highlight;
  background-blend-mode: screen;
}

#logo{
  height:2.5vh;
  width: auto;
}
