<span>
  <img src="../../../../assets/tomiLogo.png"/>
  <ng-template [ngIf]="isUserLoggedIn">
  <a routerLink="/timesheets">Timesheet</a>
  <a routerLink="/approveTimesheets">Approve</a>
  <a routerLink="/teams">Team</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/manageTeams">Manage Teams</a>
  <a routerLink="/mangeUnitTypes">Unit Types</a>
  <a routerLink="/manageTasks">Tasks</a>
  <a routerLink="/manageUserAccount">Users</a>
  <a class="logout" (click)="signInService.signOut()" routerLink="/signIn">Logout</a>
  </ng-template>
</span>
