@import '../../../../variables';


mat-toolbar {
  background-color: $orange;
  color: $white;
  position: fixed;
  height: 9vh;
  left: 0;
  top: 0;
  padding-left: 10vw;
  width: 100%;
  box-shadow: 0 0 1vh black;
  z-index: 2;
  img{
    position:absolute;
    top:0;
    left:0;
    margin:1.5vw;
  }
}


.link{
  width: 8vw !important;
  padding: 1vw;
  text-decoration: none;
  font-size: 1rem;
  color: #FFFFFF;
  text-align:center;
}

.link:hover{
  background-color: $nav_highlight;
}

#menu{
  color: $orange;
}
#icon{
  position: absolute;
  right: -2.5vh;
  height: 7vh;
  width: 7vh;
  border-radius: 7vh;
  margin: 0;
}

#iconDiv{
  height: 7vh;
  width: 7vh;
  border-radius: 7vh;
  margin: 0;
  z-index: -1;
}


#userName{
  position: absolute;
  right: 1vh;
  top: 1vh;
  height:9vh;
  width: available;
  background: none;
  border: none;
  top: 1vh;
  height: 7vh;
  width: 7vh;
  font-size: 1rem;
  color: #FFFFFF;
  z-index: 3;
  overflow: scroll;
}

#userName:hover{
  background: $nav_highlight;
  background-blend-mode: screen;
}
