@import '../../../../variables';


mat-toolbar {
  background-color: $orange;
  color: $white;
  position: absolute;
  height: 9vh;
  left: 0;
  top: 0;
  padding-left: 10vw;
  width: 100vw;
  box-shadow: 0 0 1vh black;
  z-index: 2;
  img{
    position:absolute;
    top:0;
    left:0;
    margin:1.5vw;
  }
}


.link{
  width: 8vw !important;
  padding: 1vw;
  text-decoration: none;
  font-size: 1rem;
  color: #FFFFFF;
  text-align:center;
}

.link:hover{
  background-color: $nav_highlight;
}
