<!--
@author Karol Talbot
@version 1.1
-->
<mat-expansion-panel #editUnitTypeExpansionPanel (opened)="setValuesOnOpen()" class="user_account_table">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{unitType.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form #editUnitTypeForm="ngForm">
    <mat-form-field id="unit_type_name">
      <input matInput #editUnitTypeName placeholder="Name" [formControl]="unitTypeNameControl">
    </mat-form-field>
    <mat-form-field id="unit_type_unit">
      <input matInput #editUnitTypeUnit placeholder="Unit" [formControl]="unitTypeUnitControl">
    </mat-form-field>
    <mat-form-field id="unit_type_weight">
      <input matInput #editUnitTypeWeight placeholder="Weight" [formControl]="unitTypeWeightControl">
    </mat-form-field>
    <div #buttons>
      <button mat-raised-button class="manage_delete_btn" (click)="openDeleteDialog()">Delete</button>
      <button mat-raised-button class="manage_cancel_btn" (click)="cancel()">Cancel</button>
      <button type="submit" mat-raised-button class="manage_save_btn" (click)="save()">Save</button>
    </div>
  </form>
</mat-expansion-panel>
