/*
@author Jessica Moffatt
@version 2.0
 */

@import '../../../../variables';

.entry_card{
  margin: 1rem 10vw;
  padding: 1rem 2vw;
  width: 76vw;
}

.entry_btn{
  color:$white;
  margin: 0.1vw;
  width: 2rem;
  height: 2rem;
  float:top
}

.delete_btn{
  float: right;
  background-color: $red;
}

.copy_btn{
  float: right;
  background-color: $blue;
}

.entry_btn_container{
  float:right;
  width: 14.896vw;
}

.row{
  display: inline;
  width: 74.48vw;
  padding: 0 0.76vw;
}

.top{
  display: inline-block;
  width: 55.86vw;
}

.third{
  display: inline-block;
  width: 16.758vw;
  padding-right: 2.793vw;
}

.third_last{
  display: inline-block;
  width: 30%;
}

.component{
  display: inline-block;
  width: 75%;
}

.quantity{
  float: right;
  display: inline-block;
  width: 20%;
  input{
    text-align: right;
  }
}

.day{
  width: 12%;
  margin-right: 1%;
  margin-left: 1%;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  input{
    text-align: right;
    width: 98%;
    padding: 1%;
  }
}

.weekday{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98%;
  padding: 1%;
}

.weekday:last-child{
  padding-right: 0;
}

.weekday:first-child{
  padding-left: 0;
}

#menu_btn{
  float:right;
}

#menu{
  overflow: hidden;
}
