/*
@author Jessica Moffatt
@version 2.0
 */

@import '../../../../variables';

.entry_card{
  //border:1px solid $medium_grey;
  //display:inline-block;
  padding:1rem 2rem 1rem 2rem;
  margin-bottom:.25rem;
  margin-top:.5rem;
  margin-left:10rem;
  max-width:50rem;
  //font-size:1.25rem;
  //position:relative;
}

.entry_btn_container{

}

.small_number_input{
  width:3.5rem;
}

.copy_entry{
  background-color:$blue;
  height:$btn_md;
  width:$btn_md;
  background-image: url('~src/assets/img/copy.png');
  background-position: center;
  background-repeat: no-repeat;
}

select,input{
  font-size:1.25rem;
  margin:.25rem;
}

input{
  line-height:.25rem;
}
