/*
@author Jessica Moffatt
@version 2.0
 */

@import '../../../../variables';

.entry_container{
  border:1px solid $medium_grey;
  display:inline-block;
  padding:1rem 2rem 1rem 2rem;
  margin-bottom:.25rem;
  margin-top:.25rem;
  font-size:1.25rem;
  position:relative;
}

.small_number_input{
  width:3.5rem;
}

.delete_entry{
  flex:50%;
}

.flex_btn_container{
  display:flex;
  width:100%;
}

.copy_entry{
  background-color:$blue;
  height:$btn_md;
  width:$btn_md;
  background-image: url('~src/assets/img/copy.png');
  background-position: center;
  background-repeat: no-repeat;
  flex:50%;
}

select,input{
  font-size:1.25rem;
  margin:.25rem;
}

input{
  line-height:.25rem;
}
