<!--
@author Jessica Moffatt
@version 3.0
-->
<mat-card [ngClass]="['entry_card']">
  <mat-card-header>
    <div [ngClass]="'entry_btn_container'">
        <button mat-icon-button [ngClass]="['copy_entry']" (click)="copy()"></button>
        <button mat-icon-button [ngClass]="['delete_btn']" (click)="delete()"></button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field [ngClass]="'input_full_width'">
      <input matInput  placeholder="Component" [(ngModel)]="entry.component" #componentInput>
    </mat-form-field>
<br/>
    <mat-form-field [ngClass]="'select_width_half'">
      <span *ngIf="entry.project">
        <mat-select placeholder="Project" [(ngModel)]="entry.project.id" #projectInput>
        <mat-option value="-1">None</mat-option>
        <mat-option *ngFor="let project of (projects |orderBy: 'projectName')" [value]="project.id">
          {{project.projectName}}
        </mat-option>
      </mat-select>
      </span>
      <span *ngIf="!entry.project">
        <mat-select placeholder="Project" #projectInput>
        <mat-option value="-1">None</mat-option>
        <mat-option *ngFor="let project of (projects |orderBy: 'projectName')" [value]="project.id">
          {{project.projectName}}
        </mat-option>
      </mat-select>
      </span>
    </mat-form-field>
<br/>
    <mat-form-field [ngClass]="'select_width_quarter'">
      <span *ngIf="entry.task">
        <mat-select placeholder="Task" [(ngModel)]="this.entry.task.id" #taskInput>
        <mat-option value="-1">None</mat-option>
        <mat-option *ngFor="let task of (tasks |orderBy: 'name')" [value]="task.id">
          {{task.name}}
        </mat-option>
      </mat-select>
      </span>
      <span *ngIf="!entry.task">
        <mat-select placeholder="Task" #taskInput>
        <mat-option value="-1">None</mat-option>
        <mat-option *ngFor="let task of (tasks |orderBy: 'name')" [value]="task.id">
          {{task.name}}
        </mat-option>
      </mat-select>
      </span>

    </mat-form-field>

    <mat-form-field [ngClass]="'select_width_quarter'">
      <span *ngIf="entry.unitType">
        <mat-select placeholder="Unit Type" [(ngModel)]="this.entry.unitType.id" #unitTypeInput>
        <mat-option value="-1">None</mat-option>
        <mat-option *ngFor="let unitType of (unitTypes |orderBy: 'name')" [value]="unitType.id">
          {{unitType.name}}
        </mat-option>
      </mat-select>
      </span>
      <span *ngIf="!entry.unitType">
        <mat-select placeholder="Unit Type" #unitTypeInput>
        <mat-option value="-1">None</mat-option>
        <mat-option *ngFor="let unitType of (unitTypes |orderBy: 'name')" [value]="unitType.id">
          {{unitType.name}}
        </mat-option>
      </mat-select>
      </span>

    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" step=".25" min="0" placeholder="{{entry.unitType ? entry.unitType.unit : 'Units'}}"
             [(ngModel)]="entry.quantity" [ngClass]="'small_number_input'"
             (keypress)="validateNumber($event)"
             #quantityInput>
    </mat-form-field>

    <!-- days of the week -->
    <div>
      <label><strong>M</strong>
        <input [ngClass]="'small_number_input'" [(ngModel)]="entry.mondayHours" placeholder="0" type="number"
               step=".25" min="0" (keypress)="validateNumber($event)" #mondayInput>
      </label>
      <label><strong>T</strong>
        <input [ngClass]="'small_number_input'" [(ngModel)]="entry.tuesdayHours" placeholder="0" type="number"
               step=".25" min="0" (keypress)="validateNumber($event)" #tuesdayInput>
      </label>

      <label><strong>W</strong>
        <input [ngClass]="'small_number_input'" [(ngModel)]="entry.wednesdayHours" placeholder="0" type="number"
               step=".25" min="0" (keypress)="validateNumber($event)" #wednesdayInput>
      </label>

      <label><strong>R</strong>
        <input [ngClass]="'small_number_input'" [(ngModel)]="entry.thursdayHours" placeholder="0" type="number"
               step=".25" min="0" (keypress)="validateNumber($event)" #thursdayInput>
      </label>

      <label><strong>F</strong>
        <input [ngClass]="'small_number_input'" [(ngModel)]="entry.fridayHours" placeholder="0" type="number"
               step=".25" min="0" (keypress)="validateNumber($event)" #fridayInput>
      </label>

      <label><strong>S</strong>
        <input [ngClass]="'small_number_input'" [(ngModel)]="entry.saturdayHours" placeholder="0" type="number"
               step=".25" min="0" (keypress)="validateNumber($event)" #saturdayInput>
      </label>

      <label><strong>U</strong>
        <input [ngClass]="'small_number_input'" [(ngModel)]="entry.sundayHours" placeholder="0" type="number"
               step=".25" min="0" (keypress)="validateNumber($event)" #sundayInput>
      </label>
      <!-- end of days of week-->
    </div>

  </mat-card-content>
</mat-card>

